{% extends 'base.html.twig' %}

{% block title %}All News!{% endblock %}

{% block body %}

<div class="container py-5">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <a href='/news/parse' class='btn btn-success my-4'> Parse News </a>
    {% if news %}
        <table class='table table-striped'>
            <thead>
                <tr>
                    <th> Title </th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
                {% for new in news %}
                    <tr>
                        <td> {{ new.title }} </td>
                        <td>
                            <a href='/news/{{ new.id }}' class='btn btn-dark'> View </a>
                            {% if user_role == 1 %}
                                <a href='/news/delete/{{ new.id }}' class='btn btn-danger'> Delete </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class='d-flex flex-row align-center justify-content-end gap-3'>
            {% if current != 1 %}
                <a href='/news?page={{previous}}' > &laquo; Previous </a>
            {% endif %}
            
            {% if next != 1 %}
             <a href='/news?page={{next}}'> Next &raquo; </a>
            {% endif %}
        </div>
    {% else %}
        <p> No Parsed News </p> 
    {% endif %}
</div>
{% endblock %}
